<% layout('layout') %>
    <div class="row mt-4 home" id="home">
        <div class="col-md-12 col-lg-3 sidemenu" id="sidemenu">
            <div class="component">
                <%- include('../../particles/sidebarHome.ejs') -%>
            </div>
        </div>
        <div id="mySidenav" class="sidenav sidemenuMobile" id="sidemenuMobile">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="component">
                <%- include('../../particles/sidebarHome.ejs') -%>
            </div>
        </div>
        <div class="col-md-12 col-lg-9 home__content">
            <div id="alert">
                <div class="alert alert-danger d-flex justify-content-between" role="alert">
                    It seems you are new here. Please complete your profile.
                    <a id="profileClickHere">click here</a>
                </div>
            </div>
            <div class="card home__events card_body_dark cardStyle" id="home__events">
                <div class="home__eventsHeader headerMain">
                    <p>Upcoming Events</p>
                </div>
                <div class="glide">
                    <div class="glide__body">
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides" id="eventBlock">
                                <!-- why the copy of event is getting printed  -->
                            </ul>
                        </div>
                    </div>
                    <div class="glide__arrows" data-glide-el="controls">
                        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                            <img src="/img/icons/prev.png" alt="">
                        </button>
                        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                            <img src="/img/icons/next.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
            <div class="card home__blogs mt-4 card_body_dark cardStyle" id="home__blogs">
                <div class="home__blogsHeader headerMain">
                    <p>Recent Blogs</p>
                </div>
                <div class="home__blogsCard blogsCard" id="blogsBlock">

                </div>
            </div>
            <div class="card home__complaints mt-4 card_body_dark cardStyle mb-5" id="home__complaints">
                <div class="home__complaintsHeader headerMain">
                    <p>Recent Complaints</p>
                </div>
                <div class="home__complaintsCard blogsCard" id="complaintsBlock">

                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript" src="/js/homepage/index.js"></script>