<% layout('layout') %>
    <div class="row mt-4 home">
        <div class="col-md-3 sidemenu">
            <div class="component">
                <%- include('../particles/sidebarBlog.ejs') -%>
            </div>
        </div>
        <div class="col-md-9 home__content">
            <div class="card home__blogs mb-5 cardStyle" id="home__blogs">
                <div class="home__blogsHeader headerMain">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi voluptatibus excepturi consectetur,
                        id quo optio!</p>
                </div>
                <div class="home__blogsCard blogsCard">
                    <div class="blogsData">
                        <img src="https://akm-img-a-in.tosshub.com/sites/dailyo/fb_feed_images/story_image/201708/bjpup-insta_083117051140.jpg"
                            alt="">
                        <p class="mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam exercitationem
                            minus alias,
                            cupiditate, ab rem quas perspiciatis saepe voluptates doloribus ducimus, obcaecati minima.
                            Explicabo possimus reprehenderit neque aut eveniet expedita, odio corporis aspernatur
                            deserunt, adipisci laudantium dolore, libero labore voluptatum accusantium similique! Quia
                            tenetur, ipsam non, sequi ducimus nostrum, iste veritatis quis facilis ratione sapiente
                            laborum illum nesciunt perspiciatis autem iusto dolor rem! Similique est non harum cum
                            veritatis voluptate? Ex maiores delectus temporibus vel velit nesciunt vero exercitationem,
                            illum quasi corporis laboriosam, nulla repellat rem dolorum optio quia omnis sapiente
                            molestias corrupti commodi earum tempore mollitia quam! Odit expedita rem minima officia
                            sint alias et aut, adipisci dolor aliquam dolores commodi voluptatem placeat maiores odio
                            ipsam est sunt similique minus blanditiis numquam nostrum. Maiores iure distinctio quas,
                            consequatur porro voluptate eius sunt doloremque sequi quasi odio facere amet odit eum sint,
                            exercitationem voluptas ad tempora. Animi quia reprehenderit vitae temporibus nihil quaerat
                            dolorem ullam consequatur dolores, sit dolor iure fugit officia totam a voluptate ipsam
                            corrupti. Ipsa numquam rem exercitationem necessitatibus odit dolore repudiandae eveniet
                            consequatur optio quam beatae expedita nisi ea corrupti impedit maiores, inventore unde.
                            Cupiditate eos possimus fuga minus fugit, modi cumque incidunt numquam reprehenderit
                            quisquam dolore excepturi similique totam, sint quo exercitationem dolor et sed perferendis
                            nam cum! A molestias repudiandae, veritatis quam eos cupiditate reprehenderit ex harum
                            eveniet officia nihil eaque quas suscipit? Vitae nam dicta adipisci. Ipsa consectetur
                            aspernatur, neque recusandae sequi deserunt? Laborum error aperiam corporis neque cumque
                            quia, temporibus quos reiciendis, vitae adipisci accusamus iusto? Ipsa architecto odio vitae
                            est cum, ipsum, voluptatum quaerat suscipit, expedita ex magnam voluptas minus dolor!
                            Corporis repellat laborum error reprehenderit perferendis harum iure animi placeat
                            consequuntur exercitationem! Laboriosam distinctio laudantium, ipsa accusamus reprehenderit
                            ad nostrum est excepturi rem, a sequi saepe fuga beatae unde. Modi tempore quisquam porro
                            repudiandae quae esse ex? Nobis ea sit non voluptates provident quam, repellendus, culpa ex
                            unde dicta odio rem! Nisi unde reprehenderit vel, nostrum provident animi cupiditate in
                            fugiat. Architecto deserunt atque inventore magnam voluptatibus quam veritatis cumque ea,
                            repellat eaque alias vitae quae! Laudantium illo dolorum eveniet minus aliquam quis ipsa
                            inventore, error est aspernatur cumque distinctio ullam maiores modi soluta tenetur
                            reprehenderit adipisci architecto ab deleniti. Expedita, nisi? Fugiat voluptatem quidem
                            nihil asperiores eius voluptatibus iste dolore vero? Laudantium, repellat esse. Quo, ullam.
                            Officia numquam dolores, iure quo odit corporis ad? Id totam iure molestias magni provident
                            recusandae ex cupiditate! Explicabo nemo odio eaque perferendis ad, cupiditate nisi ratione
                            dolore quod iste. Distinctio magni nihil accusamus dolor fugiat, libero harum accusantium ex
                            velit! Corporis, assumenda veniam asperiores veritatis deleniti accusantium provident illo
                            commodi doloribus sapiente. Reiciendis omnis nesciunt pariatur accusamus labore aut, iste
                            numquam quia earum ad molestiae non consequuntur hic repellendus perspiciatis aspernatur
                            voluptates! Ut, non alias, cupiditate eveniet aperiam laboriosam nisi quasi velit ullam odio
                            perferendis libero assumenda. Inventore nihil dolor modi similique aperiam consequuntur sint
                            alias repellat delectus, autem cupiditate! Ab error veniam impedit distinctio accusamus
                            aliquid, debitis molestiae facilis veritatis possimus animi?</p>
                    </div>
                    <div class="blogsAttachmnets">
                        <div class="row">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-8">

                            </div>
                        </div>
                    </div>
                    <div class="blogsFooter d-flex">
                        <div class="complaints__header">
                            <img src="https://akm-img-a-in.tosshub.com/aajtak/images/story/202001/mano_1579261142_749x421.jpeg?size=1200:675"
                                class="rounded-circle" alt="...">
                            <div class="complaints__sender">
                                <b>Abhishek Varde</b>
                                <p class="small">Pune, <span>Maharashtra</span>
                                </p>
                            </div>
                        </div>
                        <div class="blogsDate">
                            <p><b>Last Updated on: <span>
                                        8 January 2020
                                    </span></b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card home__blogs mb-5 cardStyle" id="home__blogs">
                <div class="home__blogsHeader headerMain">
                    <p>Recent Blogs</p>
                </div>
                <div class="home__blogsCard blogsCard">
                    <% for (var i=1; i <=5; i++ ) { %>
                        <%- include('../particles/blogsCard.ejs') -%>
                            <% } %>
                </div>
            </div>
        </div>
    </div>