<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/editor.css">
    <!-- javascript -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- jquery script -->
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/0610541dfc.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>

    <title>Welcome to Editor</title>
</head>

<body style="background-color: #E5E5E5;">
    <nav class="navbar sticky-top navbar-expand-lg editor__navbar justify-content-between">
        <div class="navbar__left d-flex align-items-center">
            <a class="editor__back"><img src="img/icons/back.png" /></a>
            <a class="navbar-brand ml-4" href="#"><img src="img/icons/bjp_logo.png" /></a>
        </div>
        <div class="Navbar-end navbar__right">
            <div class="d-flex align-items-center">
                <a class="ml-4"><img src="img/icons/save.png"></a>
                <a class="ml-4"><img src="img/icons/undo.png"></a>
                <a class="ml-4"><img src="img/icons/delete.png"></a>
                <a class="button__download ml-4 d-flex align-items-center" onclick="downloadPoster()"
                    id="download-button"><img class="mr-2" src="img/icons/download_file.png" />Download</a>
                <a class="button__share ml-4 d-flex align-items-center"><img class="mr-2"
                        src="img/icons/share_file.png" />Share</a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="container-fluid">
        <div class="item scroller leftsidebar">
            <div class="inner">
                <ul class="list-unstyled components nav d-block" id="myTab" role="tablist">
                    <li class="d-flex justify-content-center list">
                        <a class="nav-link align-items-center active" id="details-tab" data-toggle="tab" href="#details"
                            role="tab" aria-controls="details" aria-selected="true">
                            <img src="img/icons/details.png" class="mb-2" />
                            Details
                        </a>
                    </li>
                    <li class="d-flex justify-content-center list">
                        <a class="nav-link align-items-center" id="templates-tab" data-toggle="tab" href="#templates"
                            role="tab" aria-controls="templates" aria-selected="false">
                            <img src="img/icons/template.png" class="mb-2" />
                            Templates
                        </a>
                    </li>
                    <li class="d-flex justify-content-center list">
                        <a class="nav-link align-items-center" id="backgrounds-tab" data-toggle="tab"
                            href="#backgrounds" role="tab" aria-controls="backgrounds" aria-selected="false">
                            <img src="img/icons/background.png" class="mb-2" />
                            Backgrounds
                        </a>
                    </li>
                    <li class="d-flex justify-content-center list">
                        <a class="nav-link align-items-center" id="text-tab" data-toggle="tab" href="#text" role="tab"
                            aria-controls="text" aria-selected="false">
                            <img src="img/icons/typo.png" class="mb-2" alt="">
                            Text
                        </a>
                    </li>
                    <li class="d-flex justify-content-center list">
                        <a class="nav-link align-items-center" id="build-tab" data-toggle="tab" href="#build" role="tab"
                            aria-controls="text" aria-selected="false">
                            <i class="fa fa-tools mb-2" aria-hidden="true" style="font-size: 24px;"></i>
                            Build
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="item scroller workarea">
            <div class="inner box mt-4 mb-4">
                <div class="layout c-drop-zone"
                    style="background-image: url(img/background.jpeg); background-repeat: no-repeat; background-size: contain;"
                    onload="enableEditMode();" data-drop-zone id="layoutZoom">
                </div>
            </div>
            <div class="editor_zoom cardStyle mb-3">
                <div class="sliderContainer zoom_container">
                    <i class="fa fa-search-minus zoom_icon mr-2" aria-hidden="true"></i>
                    <input type="range" min="45" max="70" value="60" name="zoom" data-sizing="%"
                        class="slider zoom_slider" id="zoom_range">
                    <i class="fa fa-search-plus zoom_icon ml-2" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="item scroller rightsidebar">
            <div class="inner rightsidebar__inner">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
                        <%- include('../particles/editorDetails.ejs') -%>
                    </div>
                    <div class="tab-pane fade" id="templates" role="tabpanel" aria-labelledby="templates-tab">
                        <%- include('../particles/editorTemplates.ejs') -%>
                    </div>
                    <div class="tab-pane fade" id="backgrounds" role="tabpanel" aria-labelledby="backgrounds-tab">
                        <%- include('../particles/editorBackgrounds.ejs') -%>
                    </div>
                    <div class="tab-pane fade" id="build" role="tabpanel" aria-labelledby="build-tab">
                        <div class="template__builder px-2 py-2">
                            <template data-slide-type-template="text">
                                <div class="template__text template resize-drag" contenteditable="true">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic, obcaecati.
                                </div>
                            </template>
                            <template data-slide-type-template="phone">
                                <div class="template__phone template resize-drag">
                                    <span><img class="icon_social" src="img/icons/phone_icon.png" alt="">
                                    </span><span contenteditable="true">9876543210</span>
                                </div>
                            </template>
                            <template data-slide-type-template="whatsapp">
                                <div class="template__whatsapp template resize-drag">
                                    <span><img class="icon_social" src="img/icons/whatsapp_icon.png" alt="">
                                    </span><span contenteditable="true">9876543212</span>
                                </div>
                            </template>
                            <template data-slide-type-template="facebook">
                                <div class="template__facebook template resize-drag">
                                    <span><img class="icon_social" src="img/icons/facebook_icon.png" alt="">
                                    </span><span contenteditable="true">facebook.com/utkarsh123</span>
                                </div>
                            </template>
                            <template data-slide-type-template="instagram">
                                <div class="template__instagram template resize-drag">
                                    <span><img class="icon_social" src="img/icons/insta_icon.png" alt="">
                                    </span><span contenteditable="true">Instagram.com/utkarsh123</span>
                                </div>
                            </template>
                            <template data-slide-type-template="twitter">
                                <div class="template__twitter template">
                                    <span><img class="icon_social" src="img/icons/twitter_icon.png" alt="">
                                    </span><span contenteditable="true">Twitter.com/utkarsh123</span>
                                </div>
                            </template>
                            <template data-slide-type-template="your">
                                <div class="template__twitter template resize-drag">
                                    <img src="img/your_image.png" height="400" alt="">
                                </div>
                            </template>
                            <h4>Components</h4>
                            <hr>
                            <div class="component__icon mb-4" data-slide-type="your" draggable="true">
                                <i class="fa fa-image mr-2" aria-hidden="true"></i>
                                Your Image
                            </div>
                            <div class="component__icon mb-4" data-slide-type="text" draggable="true">
                                <i class="fa fa-font mr-2" aria-hidden="true"></i>
                                Text
                            </div>
                            <div class="component__icon mb-4" data-slide-type="phone" draggable="true">
                                <i class="fa fa-phone mr-2" aria-hidden="true"></i>
                                Phone Number
                            </div>
                            <div class="component__icon mb-4" data-slide-type="whatsapp" draggable="true">
                                <i class="fa fa-whatsapp mr-2" aria-hidden="true"></i>
                                Whatsapp Number
                            </div>
                            <div class="component__icon mb-4" data-slide-type="facebook" draggable="true">
                                <i class="fa fa-facebook-f mr-2"></i>
                                Facebook Link
                            </div>
                            <div class="component__icon mb-4" data-slide-type="instagram" draggable="true">
                                <i class="fa fa-instagram mr-2"></i>
                                Instagram Link
                            </div>
                            <div class="component__icon mb-4" data-slide-type="twitter" draggable="true">
                                <i class="fa fa-twitter mr-2"></i>
                                Twitter Link
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="text" role="tabpanel" aria-labelledby="text-tab">
                        <div class="form-group mb-4">
                            <label for="fontSelect">Font</label>
                            <select onchange="sendCommandArg('fontName', this.value);" class="form-control"
                                id="fontSelect">
                                <option value="Arial">Arial</option>
                                <option value="Comic Sans MS">Comic Sans MS</option>
                                <option value="Courier">Courier</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Tohoma">Tohoma</option>
                                <option value="Times New Roman">Times New Roman</option>
                                <option value="Verdana">Verdana</option>
                                <option value="Aparajita">Aparajita</option>
                            </select>
                        </div>
                        <div class="form-group mb-4">
                            <label for="fontSize">Font Size</label>
                            <input onchange="sendCommandArg('fontSize', this.value)" type="range" class="form-control"
                                id="fontSize" min="10" max="100" value="18" name="font-size" data-sizing="px" />
                        </div>
                        <div class="form-group mb-4">
                            <label for="fontColor">Font Color
                                <div class="d-flex justify-content-between">
                                    <input onchange="sendCommandArg('foreColor', this.value);" type="color"
                                        id="fontColor" class="form-control" />
                                    <span>Color</span>
                                </div>
                            </label>
                        </div>
                        <div class="form-group mb-4">
                            <label>Font Emphasize</label>
                            <div class="d-flex justify-content-between">
                                <button onclick="sendCmd('bold');" class="btn fa fa-bold"></button>
                                <button onclick="sendCmd('italic');" class="btn fa fa-italic"></button>
                                <button onclick="sendCmd('underline');" class="btn fa fa-underline"></button>
                                <button onclick="sendCmd('strikeThrough');" class="btn fa fa-strikethrough"></button>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label>Font Alignment</label>
                            <div class="d-flex justify-content-between">
                                <button onclick="sendCmd('justifyRight');" class="btn fa fa-align-right"></button>
                                <button onclick="sendCmd('justifyCenter');" class="btn fa fa-align-center"></button>
                                <button onclick="sendCmd('justifyLeft');" class="btn fa fa-align-left"></button>
                                <button onclick="sendCmd('justifyFull');" class="btn fa fa-align-justify"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- glide JavaScript -->

    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>

    <!-- external javascript -->

    <script type="application/javascript" src="/js/editor.js"></script>
    <script type="application/javascript" src="/js/html2canvas.js"></script>
</body>

</html>