<% layout('editorLayout') %>
    <div class="item scroller leftsidebar">
        <ul class="list-unstyled components nav d-block" id="myTab" role="tablist">
            <li class="d-flex justify-content-center list">
                <a class="nav-link align-items-center active" id="build-tab" data-toggle="tab" href="#build" role="tab"
                    aria-controls="text" aria-selected="true">
                    <i class="fa fa-tools mb-2" aria-hidden="true" style="font-size: 24px;"></i>
                    Build
                </a>
            </li>
            <li class="d-flex justify-content-center list">
                <a class="nav-link align-items-center" id="templates-tab" data-toggle="tab" href="#templates" role="tab"
                    aria-controls="templates" aria-selected="false">
                    <img src="img/icons/template.png" class="mb-2" />
                    Templates
                </a>
            </li>
            <li class="d-flex justify-content-center list">
                <a class="nav-link align-items-center" id="backgrounds-tab" data-toggle="tab" href="#backgrounds"
                    role="tab" aria-controls="backgrounds" aria-selected="false">
                    <img src="img/icons/background.png" class="mb-2" />
                    Backgrounds
                </a>
            </li>
            <!-- <li class="d-flex justify-content-center list">
                <a class="nav-link align-items-center" id="text-tab" data-toggle="tab" href="#text" role="tab"
                    aria-controls="text" aria-selected="false">
                    <img src="img/icons/typo.png" class="mb-2" alt="">
                    Text
                </a>
            </li> -->
            <li class="d-flex justify-content-center list">
                <a class="nav-link align-items-center" id="details-tab" data-toggle="tab" href="#details" role="tab"
                    aria-controls="details" aria-selected="false">
                    <img src="img/icons/details.png" class="mb-2" />
                    Details
                </a>
            </li>
        </ul>
    </div>
    <div class="layout d-flex mt-5" style="position: relative;" id="layoutCanvas">
        <div id="layoutInner"
            style="height: 500px; width: 500px; background: url('img/happy_diwali.jpg') no-repeat center;">
        </div>
    </div>
    <div class="item scroller rightsidebar">
        <div class="inner rightsidebar__inner">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
                    <%- include('../particles/editorDetails.ejs') -%>
                </div>
                <div class="tab-pane fade" id="templates" role="tabpanel" aria-labelledby="templates-tab">
                    <%- include('../particles/editorTemplates.ejs') -%>
                </div>
                <div class="tab-pane fade" id="backgrounds" role="tabpanel" aria-labelledby="backgrounds-tab">
                    <%- include('../particles/editorBackgrounds.ejs') -%>
                </div>
                <div class="tab-pane fade show active" id="build" role="tabpanel" aria-labelledby="build-tab">
                    <div class="template__builder px-2 py-2">
                        <h4>Components</h4>
                        <hr style="background-color: #fff !important;">
                        <ul class="nav sidebar flex-column" id="nav_accordion">
                            <li class="nav-item has-submenu">
                                <a class="nav-link" href="#" id="foot1"> Footer </a>
                                <ul class="collapse">
                                    <div class="nav-link d-flex justify-content-between align-items-center">
                                        <div>
                                            <input name="MyColorPicker" type="color" id="footerColorPicker" />
                                        </div>
                                        <button class="btn btn-primary"
                                            onclick="changeColor('testElem', 'footerColorPicker')">Apply</button>
                                    </div>
                                    <!-- <li><a class="nav-link" href="#">Submenu item 1 </a></li>
                                    <li><a class="nav-link" href="#">Submenu item 2 </a></li>
                                    <li><a class="nav-link" href="#">Submenu item 3 </a> </li> -->
                                </ul>
                            </li>
                            <li class="nav-item has-submenu">
                                <a class="nav-link" href="#"> Social Media links </a>
                                <ul class="collapse">
                                    <div class="nav-link">
                                        <div class="mb-3 form-check">
                                            <input type="checkbox" class="form-check-input"
                                                onchange="socialMediaFacebook(this)" id="facebookCheckbox">
                                            <label class="form-check-label" for="exampleCheck1">Facebook</label>
                                        </div>
                                        <div class="mb-3 form-check">
                                            <input type="checkbox" class="form-check-input"
                                                onchange="socialMediaInstagram(this)" id="instagramCheckbox">
                                            <label class="form-check-label" for="exampleCheck1">Instagram</label>
                                        </div>
                                        <div class="mb-3 form-check">
                                            <input type="checkbox" class="form-check-input"
                                                onchange="socialMediaTwitter(this)" id="twitterCheckbox">
                                            <label class="form-check-label" for="exampleCheck1">Twitter</label>
                                        </div>
                                        <div class="mb-3 form-check">
                                            <input type="checkbox" class="form-check-input"
                                                onchange="socialMediaWhatsapp(this)" id="whatsappCheckbox">
                                            <label class="form-check-label" for="exampleCheck1">whatsapp</label>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <div>
                                                <input name="MyColorPicker" type="color" id="socialMediaColorPicker" />
                                            </div>
                                            <button class="btn btn-primary"
                                                onclick="changeTextColor('socialMedia', 'socialMediaColorPicker')">Apply</button>
                                        </div>
                                        <div class="form-group mb-4">
                                            <select onchange="editFontFamily('socialMedia', this.value);"
                                                class="form-control" id="socialMediaFontSelect">
                                                <option value="Arial">Arial</option>
                                                <option value="Comic Sans MS">Comic Sans MS</option>
                                                <option value="Courier">Courier</option>
                                                <option value="Georgia">Georgia</option>
                                                <option value="Tohoma">Tohoma</option>
                                                <option value="Times New Roman">Times New Roman</option>
                                                <option value="Verdana">Verdana</option>
                                                <option value="Aparajita">Aparajita</option>
                                            </select>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li class="nav-item has-submenu">
                                <a class="nav-link" href="#" id="userProfileImage"> Profile Image </a>
                                <ul class="collapse">
                                    <div class="nav-link">
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" onchange="addImage()"
                                                name="yourImage" id="imageNone">
                                            <label class="form-check-label" for="imageNone">
                                                None
                                            </label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" onchange="addImage()"
                                                name="yourImage" id="imageRightLarge">
                                            <label class="form-check-label" for="imageRightLarge">
                                                Right aligned large
                                            </label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" onchange="addImage()"
                                                name="yourImage" id="imageRightSmall">
                                            <label class="form-check-label" for="imageRightSmall">
                                                Right aligned small
                                            </label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" onchange="addImage()"
                                                name="yourImage" id="imageLeftLarge">
                                            <label class="form-check-label" for="imageLeftLarge">
                                                Left aligned large
                                            </label>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li class="nav-item has-submenu">
                                <a class="nav-link" href="#" id="userName">Name</a>
                                <ul class="collapse">
                                    <div class="nav-link">
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" onchange="addName()"
                                                name="yourName" id="nameRightAligned">
                                            <label class="form-check-label" for="nameRightAligned">
                                                Right aligned
                                            </label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" onchange="addName()"
                                                name="yourName" id="nameLeftAligned">
                                            <label class="form-check-label" for="nameLeftAligned">
                                                Left aligned
                                            </label>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <div>
                                                <input name="MyColorPicker" type="color" id="nameColorPicker" />
                                            </div>
                                            <button class="btn btn-primary"
                                                onclick="changeTextColor('userName', 'nameColorPicker')">Apply</button>
                                        </div>
                                        <div class="form-group mb-4">
                                            <select onchange="editFontFamily('userName', this.value);"
                                                class="form-control" id="nameFontSelect">
                                                <option value="Arial">Arial</option>
                                                <option value="Comic Sans MS">Comic Sans MS</option>
                                                <option value="Courier">Courier</option>
                                                <option value="Georgia">Georgia</option>
                                                <option value="Tohoma">Tohoma</option>
                                                <option value="Times New Roman">Times New Roman</option>
                                                <option value="Verdana">Verdana</option>
                                                <option value="Aparajita">Aparajita</option>
                                            </select>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li class="nav-item has-submenu">
                                <a class="nav-link" href="#" id="userDesignation">Designation</a>
                                <ul class="collapse">
                                    <div class="nav-link">
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" onchange="setDesignation()"
                                                name="yourDesignation" id="showDesignation">
                                            <label class="form-check-label" for="showDesignation">
                                                Show
                                            </label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" onchange="setDesignation()"
                                                name="yourDesignation" id="hideDesignation">
                                            <label class="form-check-label" for="hideDesignation">
                                                Hide
                                            </label>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <div>
                                                <input name="MyColorPicker" type="color" id="designationColorPicker" />
                                            </div>
                                            <button class="btn btn-primary"
                                                onclick="changeTextColor('userPost', 'designationColorPicker')">Apply</button>
                                        </div>
                                        <div class="form-group mb-4">
                                            <select onchange="editFontFamily('userPost', this.value);"
                                                class="form-control" id="designationFontSelect">
                                                <option value="Arial">Arial</option>
                                                <option value="Comic Sans MS">Comic Sans MS</option>
                                                <option value="Courier">Courier</option>
                                                <option value="Georgia">Georgia</option>
                                                <option value="Tohoma">Tohoma</option>
                                                <option value="Times New Roman">Times New Roman</option>
                                                <option value="Verdana">Verdana</option>
                                                <option value="Aparajita">Aparajita</option>
                                            </select>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li class="nav-item has-submenu">
                                <a class="nav-link" href="#" id="userBusinessLogo"> Business Logo </a>
                                <ul class="collapse">
                                    <div class="nav-link">
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" onchange="addBusinessLogo()"
                                                name="yourImage" id="logoNone">
                                            <label class="form-check-label" for="logoNone">
                                                None
                                            </label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" onchange="addBusinessLogo()"
                                                name="yourImage" id="logoRightAligned">
                                            <label class="form-check-label" for="logoRightAligned">
                                                Right aligned
                                            </label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" onchange="addBusinessLogo()"
                                                name="yourImage" id="logoLeftAligned">
                                            <label class="form-check-label" for="logoLeftAligned">
                                                Left aligned
                                            </label>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="template__builder px-2 py-2">
                        <h4>Components</h4>
                        <hr style="background-color: #fff !important;">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button"
                                            data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Footer
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordionExample">
                                    <button id="foot1">Footer 1</button>
                                    <button id="foot2">Footer 1</button>
                                    <button id="foot3">Footer 1</button>
                                    <button id="foot4">Footer 1</button>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            Your Name
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        Some placeholder content for the second accordion panel. This panel is hidden by
                                        default.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            Social Media Links
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        And lastly, the placeholder content for the third and final accordion panel.
                                        This panel is hidden by default.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="template__builder px-2 py-2">
                        <template data-slide-type-template="text">
                            <div class="template__text template" contenteditable="true">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic, obcaecati.
                            </div>
                        </template>
                        <template data-slide-type-template="phone">
                            <div class="template__phone template resize-drag">
                                <span><img class="icon_social" src="img/icons/phone_icon.png" alt="">
                                </span><span contenteditable="true">9876543210</span>
                            </div>
                        </template>
                        <template data-slide-type-template="whatsapp">
                            <div class="template__whatsapp template resize-drag">
                                <span><img class="icon_social" src="img/icons/whatsapp_icon.png" alt="">
                                </span><span contenteditable="true">9876543212</span>
                            </div>
                        </template>
                        <template data-slide-type-template="facebook">
                            <div class="template__facebook template resize-drag">
                                <span><img class="icon_social" src="img/icons/facebook_icon.png" alt="">
                                </span><span contenteditable="true">facebook.com/utkarsh123</span>
                            </div>
                        </template>
                        <template data-slide-type-template="instagram">
                            <div class="template__instagram template resize-drag">
                                <span><img class="icon_social" src="img/icons/insta_icon.png" alt="">
                                </span><span contenteditable="true">Instagram.com/utkarsh123</span>
                            </div>
                        </template>
                        <template data-slide-type-template="twitter">
                            <div class="template__twitter template">
                                <span><img class="icon_social" src="img/icons/twitter_icon.png" alt="">
                                </span><span contenteditable="true">Twitter.com/utkarsh123</span>
                            </div>
                        </template>
                        <template data-slide-type-template="your">
                            <div class="template__twitter template resize-drag">
                                <img src="img/your_image.png" height="400" alt="">
                            </div>
                        </template>
                        <h4>Components</h4>
                        <hr style="background-color: #fff !important;">
                        <div class="component__icon mb-4" data-slide-type="your" draggable="true">
                            <i class="fa fa-image mr-2" aria-hidden="true"></i>
                            Your Image
                        </div>
                        <div class="component__icon mb-4" data-slide-type="text" draggable="true">
                            <i class="fa fa-font mr-2" aria-hidden="true"></i>
                            Text
                        </div>
                        <div class="component__icon mb-4" data-slide-type="phone" draggable="true">
                            <i class="fa fa-phone mr-2" aria-hidden="true"></i>
                            Phone Number
                        </div>
                        <div class="component__icon mb-4" data-slide-type="whatsapp" draggable="true">
                            <i class="fa fa-whatsapp mr-2" aria-hidden="true"></i>
                            Whatsapp Number
                        </div>
                        <div class="component__icon mb-4" data-slide-type="facebook" draggable="true">
                            <i class="fa fa-facebook-f mr-2"></i>
                            Facebook Link
                        </div>
                        <div class="component__icon mb-4" data-slide-type="instagram" draggable="true">
                            <i class="fa fa-instagram mr-2"></i>
                            Instagram Link
                        </div>
                        <div class="component__icon mb-4" data-slide-type="twitter" draggable="true">
                            <i class="fa fa-twitter mr-2"></i>
                            Twitter Link
                        </div>
                    </div> -->
                </div>
                <div class="tab-pane fade" id="text" role="tabpanel" aria-labelledby="text-tab">
                    <div class="form-group mb-4">
                        <label for="fontSelect">Font</label>
                        <select onchange="sendCommandArg('fontName', this.value);" class="form-control" id="fontSelect">
                            <option value="Arial">Arial</option>
                            <option value="Comic Sans MS">Comic Sans MS</option>
                            <option value="Courier">Courier</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Tohoma">Tohoma</option>
                            <option value="Times New Roman">Times New Roman</option>
                            <option value="Verdana">Verdana</option>
                            <option value="Aparajita">Aparajita</option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <label for="fontSize">Font Size</label>
                        <input onchange="sendCommandArg('fontSize', this.value)" type="range" class="form-control"
                            id="fontSize" min="10" max="100" value="18" name="font-size" data-sizing="px" />
                    </div>
                    <div class="form-group mb-4">
                        <label for="fontColor">Font Color
                            <div class="d-flex justify-content-between">
                                <input onchange="sendCommandArg('foreColor', this.value);" type="color" id="fontColor"
                                    class="form-control" />
                                <span>Color</span>
                            </div>
                        </label>
                    </div>
                    <div class="form-group mb-4">
                        <label>Font Emphasize</label>
                        <div class="d-flex justify-content-between">
                            <button onclick="sendCmd('bold');" class="btn fa fa-bold"></button>
                            <button onclick="sendCmd('italic');" class="btn fa fa-italic"></button>
                            <button onclick="sendCmd('underline');" class="btn fa fa-underline"></button>
                            <button onclick="sendCmd('strikeThrough');" class="btn fa fa-strikethrough"></button>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label>Font Alignment</label>
                        <div class="d-flex justify-content-between">
                            <button onclick="sendCmd('justifyRight');" class="btn fa fa-align-right"></button>
                            <button onclick="sendCmd('justifyCenter');" class="btn fa fa-align-center"></button>
                            <button onclick="sendCmd('justifyLeft');" class="btn fa fa-align-left"></button>
                            <button onclick="sendCmd('justifyFull');" class="btn fa fa-align-justify"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>