<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/editor.css">
    <!-- javascript -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- jquery script -->
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>

    <title>Welcome to Editor</title>
</head>

<body style="background-color: #E5E5E5;">
    <nav class="navbar sticky-top navbar-expand-lg editor__navbar justify-content-between">
        <div class="navbar__left d-flex align-items-center">
            <a class="editor__back"><img src="img/icons/back.png" /></a>
            <a class="navbar-brand ml-4" href="#"><img src="img/icons/bjp_logo.png" /></a>
        </div>
        <div class="Navbar-end navbar__right">
            <div class="d-flex align-items-center">
                <a class="ml-4"><img src="img/icons/save.png"></a>
                <a class="ml-4"><img src="img/icons/undo.png"></a>
                <a class="ml-4"><img src="img/icons/delete.png"></a>
                <a class="button__download ml-4 d-flex align-items-center" onclick="downloadPoster()"
                    id="download-button"><img class="mr-2" src="img/icons/download_file.png" />Download</a>
                <a class="button__share ml-4 d-flex align-items-center"><img class="mr-2"
                        src="img/icons/share_file.png" />Share</a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="container-fluid">
        <div class="item scroller leftsidebar">
            <div class="inner">
                <ul class="list-unstyled components nav d-block" id="myTab" role="tablist">
                    <li class="d-flex justify-content-center list">
                        <a class="nav-link align-items-center active" id="details-tab" data-toggle="tab" href="#details"
                            role="tab" aria-controls="details" aria-selected="true">
                            <img src="img/icons/details.png" class="mb-2" />
                            Details
                        </a>
                    </li>
                    <li class="d-flex justify-content-center list">
                        <a class="nav-link align-items-center" id="templates-tab" data-toggle="tab" href="#templates"
                            role="tab" aria-controls="templates" aria-selected="false">
                            <img src="img/icons/template.png" class="mb-2" />
                            Templates
                        </a>
                    </li>
                    <li class="d-flex justify-content-center list">
                        <a class="nav-link align-items-center" id="backgrounds-tab" data-toggle="tab"
                            href="#backgrounds" role="tab" aria-controls="backgrounds" aria-selected="false">
                            <img src="img/icons/background.png" class="mb-2" />
                            Backgrounds
                        </a>
                    </li>
                    <li>
                        <a href="#homeSubmenu" class="align-items-center list" data-toggle="collapse"
                            aria-expanded="false" class="dropdown-toggle">
                            <i class="fa fa-chevron-circle-down mb-2" aria-hidden="true" style="font-size: 20px;"></i>
                            More
                        </a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li class="list__inner">
                                <a href="#text" class="align-items-center" id="text-tab" data-toggle="tab" role="tab"
                                    aria-controls="text" aria-selected="false">
                                    <img src="img/icons/typo.png" class="mb-2" alt="">
                                    Text
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- <ul class="list-unstyled components" id="myTab" role="tablist">
                    <li class="d-flex justify-content-center list">
                        <a class="align-items-center nav-link active" id="home-tab" data-toggle="tab" href="#home"
                            role="tab" aria-controls="home" aria-selected="true">
                            <img src="img/icons/details.png" class="mb-2" />
                            Details
                        </a>
                    </li>
                    <li class="d-flex justify-content-center list">
                        <a class="align-items-center nav-link" id="profile-tab" data-toggle="tab" href="#profile"
                            role="tab" aria-controls="profile" aria-selected="false">
                            <img src="img/icons/template.png" class="mb-2" />
                            Templates
                        </a>
                    </li>
                    <li class="d-flex justify-content-center list">
                        <a href="services.html" class="align-items-center">
                            <img src="img/icons/background.png" class="mb-2" />
                            Backgrounds
                        </a>
                    </li>
                    <li>
                        <a href="#homeSubmenu" class="align-items-center list" data-toggle="collapse"
                            aria-expanded="false" class="dropdown-toggle">
                            <i class="fa fa-chevron-circle-down mb-2" aria-hidden="true" style="font-size: 20px;"></i>
                            More
                        </a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li class="list__inner">
                                <a href="index.html" class="align-items-center">
                                    <img src="img/icons/typo.png" class="mb-2" alt="">
                                    Text
                                </a>
                            </li>
                            <li class="list__inner">
                                <a href="drivers.html" class="align-items-center">
                                    <img src="img/icons/upload.png" class="mb-2" alt="">
                                    Upload
                                </a>
                            </li>
                            <li class="list__inner">
                                <a href="inventory.html" class="align-items-center">
                                    <img src="img/icons/effects.png" class="mb-2" alt="">
                                    Effects
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul> -->
            </div>
        </div>
        <div class="item scroller workarea">
            <div class="inner box mt-4 mb-4">
                <div class="layout" style="background-image: url(img/back.jpg);" onload="enableEditMode();"
                    id="layoutZoom">
                    <div class="layout__inner">
                        <div class="poster" id="poster">
                            <div class="header1" style="display: block; color: #fff; font-size: 48px; font-weight:900;">
                                HAPPY REPUBLIC DAY
                            </div>
                            <div class="body1 mt-4"
                                style="display: block; color: #fff; font-size: 32px; font-weight:900;">
                                Freedom is worth
                                if it makes people happy physically,
                                mentally,
                                socially and psychologically.</div>
                            <img class="" src="img/ddp.jpg" alt="">
                            <!-- <div class="drag" style="color: #fff;">Phone: <span id="card_phone">9876543456</span>
                            </div>
                            <div class="drag" style="display: inline-block; color: #fff;">Whatsapp no.: <span
                                    id="card_whatsapp">9876543456</span></div>
                            <div class="drag" style="display: inline-block; color: #fff;">Facebook: <span
                                    id="card_facebook">Facebook.com</span></div>
                            <div class="drag" style="display: inline-block; color: #fff;">Instagram: <span
                                    id="card_instagram">Instagram.com</span></div>
                            <div class="drag" style="display: inline-block; color: #fff;">Twitter: <span
                                    id="card_twitter">Twitter.com</span></div> -->

                            <!-- <img style="display:block;" class="resize drag" src="img/ddp.jpg" alt="">
                            <div style="display:inline-block; border: 1px solid red;" class="resize drag">Name: <span
                                    id="card_name">Utkarsh</span>
                            </div>
                            <div class="resize drag">Phone: <span id="card_phone">9876543456</span></div>
                            <div class="resize drag">Whatsapp no.: <span id="card_whatsapp">9876543456</span></div>
                            <div class="resize drag">Facebook: <span id="card_facebook">Facebook.com</span></div>
                            <div class="resize drag">Instagram: <span id="card_instagram">Instagram.com</span></div> -->
                            <!-- <div class="resize drag">Twitter: <span id="card_twitter">Twitter.com</span></div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="editor_zoom cardStyle mb-3">
                <div class="sliderContainer zoom_container">
                    <i class="fa fa-search-minus zoom_icon mr-2" aria-hidden="true"></i>
                    <input type="range" min="45" max="70" value="60" name="zoom" data-sizing="%"
                        class="slider zoom_slider" id="zoom_range">
                    <i class="fa fa-search-plus zoom_icon ml-2" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="item scroller rightsidebar">
            <div class="inner rightsidebar__inner">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
                        <%- include('../particles/editorDetails.ejs') -%>
                    </div>
                    <div class="tab-pane fade" id="templates" role="tabpanel" aria-labelledby="templates-tab">
                        <%- include('../particles/editorTemplates.ejs') -%>
                    </div>
                    <div class="tab-pane fade" id="backgrounds" role="tabpanel" aria-labelledby="backgrounds-tab">
                        <%- include('../particles/editorBackgrounds.ejs') -%>
                    </div>
                    <div class="tab-pane fade" id="text" role="tabpanel" aria-labelledby="text-tab">
                        <div class="form-group mb-4">
                            <label for="fontSelect">Font</label>
                            <select onchange="sendCommandArg('fontName', this.value);" class="form-control"
                                id="fontSelect">
                                <option value="Arial">Arial</option>
                                <option value="Comic Sans MS">Comic Sans MS</option>
                                <option value="Courier">Courier</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Tohoma">Tohoma</option>
                                <option value="Times New Roman">Times New Roman</option>
                                <option value="Verdana">Verdana</option>
                                <option value="Aparajita">Aparajita</option>
                            </select>
                        </div>
                        <div class="form-group mb-4">
                            <label for="fontSize">Font Size</label>
                            <input onchange="sendCommandArg('fontSize', this.value)" type="range" class="form-control"
                                id="fontSize" min="10" max="100" value="18" name="font-size" data-sizing="px" />
                        </div>
                        <div class="form-group mb-4">
                            <label for="fontColor">Font Color
                                <div class="d-flex justify-content-between">
                                    <input onchange="sendCommandArg('foreColor', this.value);" type="color"
                                        id="fontColor" class="form-control" />
                                    <span>Color</span>
                                </div>
                            </label>
                        </div>
                        <div class="form-group mb-4">
                            <label>Font Emphasize</label>
                            <div class="d-flex justify-content-between">
                                <button onclick="sendCmd('bold');" class="btn fa fa-bold"></button>
                                <button onclick="sendCmd('italic');" class="btn fa fa-italic"></button>
                                <button onclick="sendCmd('underline');" class="btn fa fa-underline"></button>
                                <button onclick="sendCmd('strikeThrough');" class="btn fa fa-strikethrough"></button>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label>Font Alignment</label>
                            <div class="d-flex justify-content-between">
                                <button onclick="sendCmd('justifyRight');" class="btn fa fa-align-right"></button>
                                <button onclick="sendCmd('justifyCenter');" class="btn fa fa-align-center"></button>
                                <button onclick="sendCmd('justifyLeft');" class="btn fa fa-align-left"></button>
                                <button onclick="sendCmd('justifyFull');" class="btn fa fa-align-justify"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- glide JavaScript -->

    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>

    <!-- external javascript -->

    <script type="application/javascript" src="/js/editor.js"></script>
    <script type="application/javascript" src="/js/html2canvas.js"></script>
</body>

</html>