<% layout('layout') %>
    <div class="accessDenied d-flex flex-column justify-content-center align-items-center">
        <div class="card cardStyle card_body_dark accessDenied_card d-flex align-items-center">
            <img src="/img/accessDenied.png" alt="">
            <h3><b>You are not an admin.</b></h3>
            <a href="/logIn" class="back_homepage mt-5">Go to login Page</a>
        </div>
    </div>
    <script>
        let link = ['', '', '', ''];
    </script>