<% layout('layout') %>
    <div class="row mt-4 home">
        <div class="col-md-3 sidemenu">
            <div class="component">
                <%- include('../particles/sidebarProfile.ejs') -%>
            </div>
        </div>
        <div class="col-md-9 home__content">
            <div class="card home__events cardStyle" id="home__events">
                <div class="home__eventsHeader headerMain d-flex align-items-center justify-content-between py-4">
                    <div class="profile__headerData">
                        <p class="profile__name">Hi, <span>Utkarsh Kumar</span></p>
                        <p class="profile__committeeDetails">Committee Member</p>
                    </div>
                    <div class="delete">
                        <a class="delete__button">Delete Profile</a>
                    </div>
                </div>
                <div class="profile__editData">
                    <div class="profile__outer mb-4">
                        <div class="profile__inner px-5 mb-5">
                            <div class="profile__innerHeader py-3">
                                <p>Personal Details</p>
                            </div>
                            <div class="form-group row">
                                <label for="memberFirstName" class="col-sm-4 col-form-label">First Name
                                    <span>*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="memberFirstName" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="memberLastName" class="col-sm-4 col-form-label">Last Name
                                    <span>*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="memberLastName" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="memberFatherName" class="col-sm-4 col-form-label">Father's Name
                                    <span>*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="memberFatherName" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="memberGender" class="col-sm-4 col-form-label">Gender<span>*</span></label>
                                <div class="col-sm-8" id="memberGender">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" id="genderMale"
                                            value="male">
                                        <label class="form-check-label" for="genderMale">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" id="genderFemale"
                                            value="female">
                                        <label class="form-check-label" for="genderFemale">Female</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="marital_status" class="col-sm-4 col-form-label">Marital
                                    Status<span>*</span></label>
                                <div class="col-md-8">
                                    <select name="marital_status" class="form-select form-control" id="marital_status">
                                        <option value="" disabled selected>-Select Marital Status-</option>
                                        <option value="1">Single</option>
                                        <option value="2">Married</option>
                                        <option value="3">Widowed</option>
                                        <option value="4">Separated</option>
                                        <option value="5">Divorced</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" id="couple_status">
                            </div>
                            <div class="form-group row">
                                <label for="memberEmail" class="col-sm-4 col-form-label">Email (optional)</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" id="memberEmail"
                                        placeholder="12345@xyz.com">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">Phone Number
                                    <span>*</span>
                                </label>
                                <div class="form-group col-md-8" id="allPhoneNumber">
                                    <div class="form-group d-flex">
                                        <input type="tel" class="form-control" id="phoneNumberInitial"
                                            placeholder="+91-9876543210">
                                        <button onclick="addPhoneNumber()"
                                            class="btn btn-outline-success ml-2 formButtonPhone">+</button>
                                    </div>
                                    <!-- <div class="col-sm-1">
                                            <button onclick="addPhoneNumber()" class="btn btn-primary mr-4">+</button>
                                        </div> -->
                                    <!-- <div id="phoneNumber'+id+'" class="form-group row">
                                        <div class="col-sm-10">
                                            <input type="tel" class="form-control" id="phoneNumberField'+id+'"
                                                placeholder="+91-9876543210">
                                        </div>
                                        <div class="col-sm-2 d-flex">
                                            <button class="btn btn-primary mr-2">+</button>
                                            <button onclick="removePhoneNumber('+id+')"
                                                class="btn btn-danger">-</button>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="memberDOB" class="col-sm-4 col-form-label">Date of Birth
                                    <span>*</span></label>
                                <div class="col-md-8">
                                    <input type="date" class="form-control" id="memberDOB">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="memberBloodGrouop" class="col-sm-4 col-form-label">Blood Group
                                    (optional)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="memberBloodGrouop" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="memberAnniversary" class="col-sm-4 col-form-label">Anniversary
                                    (optional)</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" id="memberAnniversary">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="permanentAddress" class="col-sm-4 col-form-label">Permanent Address
                                    <span>*</span></label>
                                <div class="col-sm-8">
                                    <textarea rows="3" class="form-control" id="permanentAddress"
                                        placeholder="Enter Permanent Address"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="residentialAddress" class="col-sm-4 col-form-label">Residential Address
                                    <span>*</span></label>
                                <div class="col-sm-8">
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-outline-success mb-2 formButtonCopy"
                                            id="addressCopy">Same as
                                            permanent address</button>
                                    </div>
                                    <textarea rows="3" class="form-control" id="residentialAddress"
                                        placeholder="Enter Residential Address..."></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">Referral Code
                                    (optional)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputEmail3" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile__outer mt-2 mb-4">
                        <div class="profile__inner px-5 mb-4">
                            <div class="profile__innerHeader py-3 d-flex">
                                <p>Official Details</p>
                            </div>
                            <div class="form-group row">
                                <label for="memberNationality"
                                    class="col-sm-4 col-form-label">Nationality<span>*</span></label>
                                <div class="col-sm-8" id="memberNationality">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="nationality"
                                            id="nationalityIndian" value="male">
                                        <label class="form-check-label" for="nationalityIndian">Indian</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="nationality"
                                            id="nationalityNRI" value="female">
                                        <label class="form-check-label" for="nationalityNRI">NRI</label>
                                    </div>
                                </div>
                            </div>
                            <div id="officialDetails">

                            </div>
                        </div>
                    </div>
                    <div class="profile__outer mb-4">
                        <div class="profile__inner px-5 mb-4">
                            <div class="profile__innerHeader py-3">
                                <p>Identification Details</p>
                            </div>
                            <div class="form-group row">
                                <label for="voterIdCard" class="col-sm-4 col-form-label">Voter ID Card
                                    (optional)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="voterIdCard" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="adharCard" class="col-sm-4 col-form-label">Adhar Card (optional)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="adharCard" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="panCard" class="col-sm-4 col-form-label">PAN Card (optional)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="panCard" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile__outer mt-2 mb-4">
                        <div class="profile__inner px-5 mb-4">
                            <div class="profile__innerHeader py-3">
                                <p>Social Links</p>
                            </div>
                            <div class="form-group row">
                                <label for="facebookLink" class="col-sm-4 col-form-label">Facebook (optional)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="facebookLink"
                                        placeholder="Facebook.com/utkarsh123">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="instagramLink" class="col-sm-4 col-form-label">Instagram (optional)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="instagramLink"
                                        placeholder="Instagram.com/utkarsh123">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="twitterLink" class="col-sm-4 col-form-label">Twitter (optional)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="twitterLink"
                                        placeholder="Twitter.com/utkarsh123">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile__save px-5 mb-4 mt-4">
                        <a onclick="addMemberDetails()">Save All Changes</a>
                    </div>
                </div>
            </div>
            <div class="card home__events cardStyle mt-4 mb-5" id="home__events">
                <div class="profile__outer mb-4">
                    <div class="profile__inner px-5 mb-4">
                        <div class="profile__innerHeader py-3 mt-3">
                            <p>Change Password</p>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Enter Old Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="inputEmail3" placeholder="************">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Enter New Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="inputEmail3" placeholder="************">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Confirm New Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="inputEmail3" placeholder="************">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile__save px-5 mb-4">
                    <a href="">Save All Changes</a>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript" src="/js/profileEdit.js"></script>