<% layout('layout') %>
    <div class="row mt-4 home">
        <div class="col-md-3 sidemenu">
            <div class="component">
                <%- include('../particles/sidebarProfile.ejs') -%>
            </div>
        </div>
        <div class="col-md-9 home__content">
            <div class="card home__events cardStyle" id="home__events">
                <div class="home__eventsHeader profileHeader headerMain d-flex py-4">
                    <div class="profile__headerData">
                        <p class="profile__name">Utkarsh Kumar</p>
                        <p class="profile__committeeDetails">Committee Member</p>
                    </div>
                    <div class="edit">
                        <a href="/profileEdit" class="edit__button">Edit Profile</a>
                    </div>
                </div>
                <div class="profile__details">
                    <div class="profile__about row">
                        <div class="col-md-6">
                            <div class="card cardStyle mt-4 px-3 py-3">
                                <div class="profile__header">
                                    <p><b>ABOUT</b></p>
                                </div>
                                <div class="mt-4">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <p>Username</p>
                                        </div>
                                        <div class="col-md-7">
                                            <p>Utkarsh123</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <p>Fullname</p>
                                        </div>
                                        <div class="col-md-7">
                                            <p>Utkarsh Kumar</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <p>Email ID</p>
                                        </div>
                                        <div class="col-md-7">
                                            <p>utkarsh@gmail.com</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <p>Phone Number</p>
                                        </div>
                                        <div class="col-md-7">
                                            <p>+987654321</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <p>Profession</p>
                                        </div>
                                        <div class="col-md-7">
                                            <p>Marketing Head</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card cardStyle mt-4 px-3 py-3">
                                <div class="profile__header mt-4">
                                    <p><b>RESPONSIBILITIES</b></p>
                                </div>
                                <div class="mt-4">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p>Marketer</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>Influencer</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>Treasurer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card cardStyle mt-4 px-3 py-3">
                                <div class="profile__header">
                                    <p><b>SOCIAL LINKS</b></p>
                                </div>
                                <div class="mt-4">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <p>Facebook</p>
                                        </div>
                                        <div class="col-md-7">
                                            <a href="#">facebook.com/utkarsh123</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <p>Instagram</p>
                                        </div>
                                        <div class="col-md-7">
                                            <a href="#">Instagram.com/utkarsh123</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <p>Twitter</p>
                                        </div>
                                        <div class="col-md-7">
                                            <a href="#">Twitter.com/utkarsh123</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card cardStyle mt-4 px-3 py-3">
                                <div class="profile__header mt-4">
                                    <p><b>IDENTIFICATION DETAILS</b></p>
                                </div>
                                <div class="mt-4">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <p>Voter ID card</p>
                                        </div>
                                        <div class="col-md-7">
                                            <p>123 456 789</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <p>Adhar Card</p>
                                        </div>
                                        <div class="col-md-7">
                                            <p>123 456 789</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <p>PAN Card</p>
                                        </div>
                                        <div class="col-md-7">
                                            <p>123 456 789</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile__detailsMore">
                    <div class="profile__detailsOfficial">
                        <div class="card cardStyle mt-4 px-3 py-3">
                            <div class="profile__header mt-4">
                                <p><b>OFFICIAL DETAILS</b></p>
                            </div>
                            <div class="mt-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <p>State</p>
                                            </div>
                                            <div class="col-md-7">
                                                <p>Rajasthan</p>
                                            </div>
                                            <div class="col-md-5">
                                                <p>District</p>
                                            </div>
                                            <div class="col-md-7">
                                                <p>Balotra</p>
                                            </div>
                                            <div class="col-md-5">
                                                <p>Upkhand</p>
                                            </div>
                                            <div class="col-md-7">
                                                <p>Text here</p>
                                            </div>
                                            <div class="col-md-5">
                                                <p>Tehsil</p>
                                            </div>
                                            <div class="col-md-7">
                                                <p>Text here</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <p>Lok Shabha Satra</p>
                                            </div>
                                            <div class="col-md-7">
                                                <p>Text here</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <p>Vidhan Sabha Satra</p>
                                            </div>
                                            <div class="col-md-7">
                                                <p>Text here</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <p>Panchayat Samiti</p>
                                            </div>
                                            <div class="col-md-7">
                                                <p>Text here</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <p>Gram Panchayat</p>
                                            </div>
                                            <div class="col-md-7">
                                                <p>Text here</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <p>Revenue Village</p>
                                            </div>
                                            <div class="col-md-7">
                                                <p>Text here</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <p>Booth</p>
                                            </div>
                                            <div class="col-md-7">
                                                <p>Text here</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card cardStyle mt-4">
                <div class="home__blogsHeader headerMain d-flex align-items-center justify-content-between py-4">
                    <p>My Events</p>
                    <div class="edit">
                        <a class="edit__button">New Event</a>
                    </div>
                </div>
                <div class="events">
                    <div class="row">
                        <% for (var i=1; i <=6; i++ ) { %>
                            <div class="col-md-4 events__card mb-4 px-3">
                                <%- include('../particles/eventCard.ejs') -%>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
            <div class="card home__blogs mt-4 cardStyle" id="home__blogs">
                <div class="home__blogsHeader headerMain d-flex align-items-center justify-content-between py-4">
                    <p>My Blogs</p>
                    <div class="edit">
                        <a class="edit__button">New Blog</a>
                    </div>
                </div>
                <div class="home__blogsCard blogsCard" id="profileBlogsBlock">
                    <% for (var i=1; i <=3; i++ ) { %>
                        <%- include('../particles/blogsCard.ejs') -%>
                            <% } %>
                </div>
            </div>
            <div class="card home__complaints mt-4 cardStyle mb-5" id="home__complaints">
                <div class="home__blogsHeader headerMain d-flex align-items-center justify-content-between py-4">
                    <p>My Complaints</p>
                    <div class="edit">
                        <a class="edit__button">New Complaint</a>
                    </div>
                </div>
                <div class="home__complaintsCard blogsCard">
                    <% for (var i=1; i <=3; i++ ) { %>
                        <%- include('../particles/complaintsCard.ejs') -%>
                            <% } %>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript" src="/js/profile.js"></script>