<!-- <div class="form-group">
    <label for="file_name">File Name</label>
    <input type="text" class="form-control" id="file_name" value="untitled">
</div> -->
<div class="form-group">
    <label for="your_name">Full Name</label>
    <input type="text" class="form-control" name="name" id="your_name" placeholder="Enter your name">
</div>
<div class="form-group">
    <label for="post_details">Post</label>
    <input type="text" class="form-control" id="post_details" placeholder="Enter your Post">
</div>
<div class="form-group">
    <label for="Whatsapp_number">Whatsapp Number</label>
    <input type="tel" class="form-control" id="Whatsapp_number" name="whatsapp" placeholder="Enter Whatsapp number">
</div>
<div class="form-group">
    <label for="facebook_link">Facebook Link</label>
    <input type="text" class="form-control" id="facebook_link" name="facebook" placeholder="utkarshkumar123">
</div>
<div class="form-group">
    <label for="instagram_link">Instagram Link</label>
    <input type="text" class="form-control" id="instagram_link" name="instagram" placeholder="utkarshkumar123">
</div>
<div class="form-group">
    <label for="twitter_link">Twitter Link</label>
    <input type="text" class="form-control" id="twitter_link" name="twitter" placeholder="utkarshkumar123">
</div>
<div class="form-group">
    <label for="email_address">Email Address</label>
    <input type="text" class="form-control" id="email_address" name="email" placeholder="utkarshkumar123">
</div>
<div class="form-group">
    <label for="website_link">Website Link</label>
    <input type="text" class="form-control" id="website_link" name="website" placeholder="utkarshkumar123">
</div>