<% layout('layout') %>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content card_body_dark" id="memberListAddAdmin">
                <div class="home__blogsHeader headerMain d-flex justify-content-between">
                    <p>Add Admins</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="committee__members">
                    <label class="search__box dark_box d-flex align-items-center mb-4"
                        for="committee__membersAddSearch">
                        <span class="serach__icon mr-3">
                            <img src="/img/icons/search.png" alt="">
                        </span>
                        <input id="committee__membersAddSearch" placeholder="Search" />
                    </label>
                    <div class="member__data" id="allMembersDataAdmins">
                    </div>
                    <button style="width: 100%;" onclick="addAllMembersToList()" type="button" data-toggle="modal"
                        data-target="#exampleModalCenter" class='btn btn-primary mt-3'>Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 home">
        <div class="col-md-3 sidemenu" id="sidemenu">
            <div class="component">
                <%- include('../../particles/sidebarAdmins.ejs') -%>
            </div>
        </div>
        <div id="mySidenav" class="sidenav sidemenuMobile" id="sidemenuMobile">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="component">
                <%- include('../../particles/sidebarAdmins.ejs') -%>
            </div>
        </div>
        <div class="card col-lg-9 col-md-12 mb-5 card_body_dark cardStyle" style="max-height: 85vh; min-height: 85vh;">
            <div class="home__blogsHeader headerMain d-flex justify-content-between align-items-center">
                <p>Manage Admins</p>
                <button class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg">Add
                    manager</button>
            </div>
            <div class="committee__members scrollbar" id="style-6">
                <label class="search__box d-flex align-items-center mb-4" for="committee__adminsMembersSearch">
                    <span class="serach__icon mr-3">
                        <img src="/img/icons/search.png" alt="">
                    </span>
                    <input id="committee__adminsMembersSearch" placeholder="Search" />
                </label>
                <div class="member__data" id="manageAdminBlock">
                </div>
            </div>
        </div>
    </div>
    </div>
    <script type="application/javascript" src="/js/privileges/manageAdmins.js"></script>