<div class="card cardStyle">
    <div class="row g-0">
        <div class="col-md-6">
            <img class="blogsImg"
                src="https://akm-img-a-in.tosshub.com/sites/dailyo/fb_feed_images/story_image/201708/bjpup-insta_083117051140.jpg"
                alt="...">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title  headerMain">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Mollitia omnis rerum aspernatur similique ipsum! Porro similique eaque
                    dolores veniam at?</p>
                </p>
                <div class="card-footer footer">
                    <p>8 JAN 2020 <i class="fa fa-circle" aria-hidden="true"></i><span> Arun
                            jaitely</span></p>
                    <a href="/blogsView">
                        View Blog
                        <span>
                            <img src="img/icons/link.png" alt="">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>