<div class="col-md-6 committee__card mb-4 px-3">
    <div class="card cardStyle committee__poster">
        <img src="https://images.livemint.com/img/2020/01/19/600x338/20190726221L_1564151885181_1579462418514.jpg"
            class="card-img-top" alt="...">
        <div class="card-body committee__body">
            <h3>Committee Name</h3>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing
                elit.
                Iusto, asperiores?</p>
        </div>
        <div class="card-footer footer mb-2">
            <a class="committee__edit" href="#">Edit Committee</a>
            <a href="/committeeClicked">
                View Committee
                <span>
                    <img src="img/icons/link.png" alt="">
                </span>
            </a>
        </div>
    </div>
</div>