<div class="card cardStyle">
    <div class="complaints__header">
        <img src="https://akm-img-a-in.tosshub.com/aajtak/images/story/202001/mano_1579261142_749x421.jpeg?size=1200:675"
            class="rounded-circle" alt="...">
        <div class="complaints__sender">
            <b>Abhishek Varde</b>
            <p class="small">Pune, <span>Maharashtra</span>
            </p>
        </div>
        <%- include('../Atoms/priorityHigh.ejs') -%>
    </div>
    <div class="complaints__body">
        <p class="card-text"><span>Sub: </span>Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Modi nemo
            veritatis est repellendus. Dolorum vero laudantium quaerat, vel iste soluta.</p>
    </div>
    <div class="card-footer footer">
        <p>8 JAN 2020</p>
        <a href="/complaintsView">
            View Complaint
            <span>
                <img src="img/icons/link.png" alt="">
            </span>
        </a>
    </div>
</div>