<div class="form-group">
    <label for="file_name">File Name</label>
    <input type="text" class="form-control" id="file_name" value="untitled">
</div>
<div class="form-group">
    <label for="your_name">Your name</label>
    <input type="text" class="form-control" id="your_name" placeholder="Enter your name...">
</div>
<div class="form-group">
    <label for="phone_number">Phone Number</label>
    <input type="tel" class="form-control" id="phone_number" placeholder="Enter Phone number...">
</div>
<div class="form-group">
    <label for="Whatsapp_number">Whatsapp Number</label>
    <input type="tel" class="form-control" id="Whatsapp_number" placeholder="Enter Whatsapp number...">
</div>
<div class="form-group">
    <label for="facebook_link">Facebook Link</label>
    <input type="text" class="form-control" id="facebook_link" placeholder="Facebook.com/utkarshkumar123">
</div>
<div class="form-group">
    <label for="instagram_link">Instagram Link</label>
    <input type="text" class="form-control" id="instagram_link" placeholder="Instagram.com/utkarshkumar123">
</div>
<div class="form-group">
    <label for="twitter_link">Twitter Link</label>
    <input type="text" class="form-control" id="twitter_link" placeholder="Twitter.com/utkarshkumar123">
</div>