<!-- <li class="glide__slide events__card"> -->
<div class="col-md-4 events__card mb-4 px-3">
    <div class="card cardStyle">
        <img src="https://images.livemint.com/img/2020/01/19/600x338/20190726221L_1564151885181_1579462418514.jpg"
            class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing
                elit.
                Iusto, asperiores?</p>
        </div>
        <div class="card-footer footer">
            <p>8 JAN 2020</p>
            <a href="/eventsView">
                View Event
                <span>
                    <img src="/img/icons/link.png" alt="">
                </span>
            </a>
        </div>
    </div>
</div>
<!-- </li> -->