<div class="card card_body_dark home__sidenavigator sidenavigator cardStyle">
    <div class="home__header header">
        <p>Home</p>
    </div>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" id="userCommittee" data-link>My Committee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="allCommittees" data-link href="/committees">All Committees</a>
        </li>
    </ul>
</div>
<%- include('../molecules/mode.ejs') -%>
    <script type="application/javascript" src="/js/sidebar/sidebarCommittee.js"></script>