<div class="card home__sidenavigator card_body_dark sidenavigator cardStyle">
    <div class="home__header header">
        <p>Home</p>
    </div>
    <!-- have to manupulate link according to privilege -->
    <ul class="navbar-nav">
        <li class="nav-item" id="manageAdmins">
            <a class="nav-link" data-link href="/manageAdmins">Manage Admins</a>
        </li>
        <li class="nav-item" id="manageCommittee">
            <a class="nav-link" data-link href="/manageCommittee">Manage Committee</a>
        </li>
        <!-- <li class="nav-item" id="manageCommSpecific">
            <a class="nav-link" data-link href="/manageCommitteeSpecific">Manage Committee Specific</a>
        </li> -->
        <li class="nav-item" id="manageMembers">
            <a class="nav-link" data-link href="/manageMembers">Manage Members</a>
        </li>
        <li class="nav-item" id="manageVerificationTeam">
            <a class="nav-link" data-link href="/manageVerificationTeam">Manage Verification Team</a>
        </li>
    </ul>
</div>
<%- include('../molecules/mode.ejs') -%>
    <script>
            // var permissions = JSON.parse(getCookie("privilege"));
            // console.log(permissions)
            // console.log('admin privilege is', manageAdmins.admin_privilege);
            // if (permissions.admin_privilege != null) {
            //     $('#manageAdmins').css('display', 'block');
            //     $('#manageCommittee').css('display', 'block');
            //     // $('#manageCommSpecific').css('display', 'block');
            //     $('#manageMembers').css('display', 'block');
            //     $('#manageVerificationTeam').css('display', 'block');
            // }
            // if (permissions.committee_privilege != null) {
            //     $('#manageCommSpecific').css('display', 'block');
            //     // $('#manageCommittee').css('display', 'block');
            // }
            // if (permissions.committee_specific_privilege != null) {
            //     $('#manageCommSpecific').css('display', 'block');
            // }
            // if (permissions.member_privilege != null) {
            //     $('#manageMembers').css('display', 'block');
            // }
            // if (permissions.verification_privilege != null) {
            //     $('#manageVerificationTeam').css('display', 'block');
            // }
    </script>