<div class="card profile__sidenavigator cardStyle">
    <img src="https://im.rediff.com/news/2013/dec/08harshvardhan1.jpg" alt="">
    <div class="edit__image">
        <p>
            Change Image
        </p>
    </div>
</div>
<%- include('../molecules/mode.ejs') -%>
    <%- include('../molecules/language.ejs') -%>