<% layout('layout') %>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content card_body_dark" id="memberListAddAdmin">
                <div class="home__blogsHeader headerMain d-flex justify-content-between">
                    <p>Add Admins</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="committee__members">
                    <label class="search__box dark_box d-flex align-items-center mb-4"
                        for="committee__membersAddSearch">
                        <span class="serach__icon mr-3">
                            <img src="/img/icons/search.png" alt="">
                        </span>
                        <input id="committee__membersAddSearch" placeholder="Search" />
                    </label>
                    <div class="member__data scrollbar style-6" style="min-height: 50vh; max-height: 50vh;"
                        id="allMembersDataCommittee">
                    </div>
                    <button style="width: 100%;" onclick="addAllMembersToList()" type="button" data-toggle="modal"
                        data-target="#exampleModalCenter" class='btn btn-primary mt-3'>Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 home">
        <div class="col-md-3 sidemenu" id="sidemenu">
            <div class="component">
                <%- include('../../particles/sidebarCommittee.ejs') -%>
            </div>
        </div>
        <div id="mySidenav" class="sidenav sidemenuMobile" id="sidemenuMobile">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="component">
                <%- include('../../particles/sidebarCommittee.ejs') -%>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 myCommittee">
            <div class="card cardStyle card_body_dark myCommittee__card mb-3">
                <img class="committeeImage" alt="committee image">
                <div class="myCommittee__data">
                    <h3 id="committeeName"></h3>
                    <p class="mt-4" id="committeeDesc"></p>
                </div>
            </div>
            <div class="card card_body_dark cardStyle mb-5"
                style="max-height: 100vh; min-height: 100vh; position: sticky; position: -webkit- sticky; top: 10px;">
                <div class="home__blogsHeader headerMain d-flex justify-content-between align-items-center py-4">
                    <p>Committee Members</p>
                    <div class="committeePrivilege">
                        <button class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg">Add
                            members</button>
                    </div>
                </div>
                <div class="committee__members scrollbar" id="style-6">
                    <label class="search__box d-flex align-items-center mb-4" for="committee__membersSearch">
                        <span class="serach__icon mr-3">
                            <img src="/img/icons/search.png" alt="">
                        </span>
                        <input id="committee__membersSearch" placeholder="Search" />
                    </label>
                    <div class="member__data">
                        <div class="card tab_dark cardStyle mt-3">
                            <div class="complaints__header member__inner d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img src="https://akm-img-a-in.tosshub.com/aajtak/images/story/202001/mano_1579261142_749x421.jpeg?size=1200:675"
                                        class="rounded-circle" alt="...">
                                    <div class="complaints__sender mr-5">
                                        <strong id="committeeLeader"></strong>
                                        <p class="small" id="committeeLeaderAddress"></p>
                                    </div>
                                    <%- include('../../Atoms/manager.ejs') -%>
                                </div>
                                <!-- <div>
                                    <a class="member__button mr-3" href="">View</a>
                                    <img class="member__more dropleft" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" src="/img/icons/More.png" alt="">
                                    <div class="dropdown-menu">
                                        <h6 class="dropdown-header">Dropdown header</h6>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div id="committeeMemberBlock"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript" src="/js/committee/committeeClicked.js"></script>