<% layout('layout') %>
    <!-- <% layout('layout') %> -->
    <div class="row mt-4 home">
        <div class="col-md-3 sidemenu" id="sidemenu">
            <div class="component">
                <%- include('../../particles/sidebarCommittee.ejs') -%>
            </div>
        </div>
        <div id="mySidenav" class="sidenav sidemenuMobile" id="sidemenuMobile">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="component">
                <%- include('../../particles/sidebarCommittee.ejs') -%>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 home__content mb-5">
            <div class="card card_body_dark">
                <div class="home__blogsHeader headerMain">
                    <p>All Committees</p>
                </div>
                <div class="events">
                    <div class="row" id="committeeBlock">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript" src="/js/committee/committees.js"></script>