<% layout('layout') %>
    <div class="row mt-4 home">
        <div class="col-md-3 sidemenu" id="sidemenu">
            <div class="component">
                <%- include('../../particles/sidebarCommittee.ejs') -%>
            </div>
        </div>
        <div id="mySidenav" class="sidenav sidemenuMobile" id="sidemenuMobile">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="component">
                <%- include('../../particles/sidebarCommittee.ejs') -%>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 home__content">
            <div class="card home__events cardStyle mb-4" id="home__events">
                <div class="home__complaintForm headerMain">
                    <p>Committee Form</p>
                </div>
                <div class="profile__editData">
                    <div class="mb-4">
                        <div class="profile__inner px-5 mb-5 mt-4">
                            <div class="profile__innerHeader py-3">
                                <p>Committee Details</p>
                            </div>
                            <div class="form-group row">
                                <label for="blogAuthor" class="col-sm-4 col-form-label">Committee Name
                                    <span>*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" disabled class="form-control" id="blogAuthor" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="blogTitle" class="col-sm-4 col-form-label">Committee Description
                                    <span>*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="blogTitle" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="blogTitle" class="col-sm-4 col-form-label">Blog Carousel
                                    Images<span>*</span></label>
                                <div class="col-sm-8">
                                    <label for="browse" style="width: 100%;">
                                        <div class="browseDesign d-flex">
                                            <div class="d-flex browseDesign__image">
                                                <div class="d-flex browseDesign__inner">
                                                    <div class="upload__icon">
                                                        <img src="/img/icons/uploadForm.png" alt="">
                                                    </div>
                                                    <p class="upload__para">
                                                        Upload upto 5 image</p>
                                                    <input id="browse" type="file" multiple>
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                    <div id="preview"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="blogTitle" class="col-sm-4 col-form-label">Blog Carousel
                                    Images<span>*</span></label>
                                <div class="col-sm-8">
                                    <label for="browse" style="width: 100%;">
                                        <div class="browseDesign d-flex">
                                            <div class="d-flex browseDesign__files">
                                                <div class="d-flex browseDesign__inner">
                                                    <div class="upload__icon">
                                                        <img src="/img/icons/uploadForm.png" alt="">
                                                    </div>
                                                    <p class="upload__para">
                                                        Upload upto 5 Files</p>
                                                    <input id="browse" type="file" multiple>
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                    <div id="preview"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2 mb-4">
                            <div class="profile__inner px-5 mb-4">
                                <div class="profile__innerHeader py-3">
                                    <p>Blog Body</p>
                                </div>
                                <textarea name="" id="blogBody" rows="20" style="width: 100%;"></textarea>
                            </div>
                        </div>
                        <div class="profile__save px-5 mb-4 mt-4">
                            <a id="addEditBlog" type="button">Add Blog</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="application/javascript" src="/js/committee/blogForm.js"></script>