<div class="mt-4 mb-4 home__language">
    <div class="card card_body_dark home__sidenavigator sidenavigator cardStyle">
        <div class="home__header header">
            <p>Choose Language</p>
        </div>
        <div style="width: 100%;" class="home__languageSelector" id="google_translate_element">
            <!-- <select class="form-control">
                <option>English</option>
                <option>Hindi</option>
                <option>Marathi</option>
                <option>Telugu</option>
            </select> -->
        </div>
    </div>
</div>