<div class="mt-4 mb-4 home__language">
    <div class="card home__sidenavigator sidenavigator cardStyle">
        <div class="home__header header">
            <p>Choose Language</p>
        </div>
        <div class="home__languageSelector">
            <select class="form-control">
                <option>English</option>
                <option>Hindi</option>
                <option>Marathi</option>
                <option>Telugu</option>
            </select>
        </div>
    </div>
</div>