<div class="mt-4 home__theme">
    <div class="card card_body_dark home__sidenavigator sidenavigator">
        <div class="member__logout mt-3">
            <button class="btn btn-outline-danger" onclick="logOutMemeber()">Log out</button>
        </div>
    </div>
</div>