<div class="mt-4 home__theme">
    <div class="card home__sidenavigator sidenavigator cardStyle">
        <div class="home__header header">
            <p>Choose Theme</p>
        </div>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
            <p>Dark</p>
        </label>
    </div>
</div>