<div class="mt-4 home__theme">
    <div class="card card_body_dark home__sidenavigator sidenavigator cardStyle">
        <div class="home__header header">
            <p>Choose Theme</p>
        </div>
        <!-- <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
            <p>Dark</p>
        </label> -->
        <button onclick="ChangeThemeOnclick()" class="btn btn-secondary">Change Theme</button>
    </div>
</div>