<div class="mt-4 mb-4 home__language">
    <div class="card card_body_dark home__sidenavigator sidenavigator cardStyle">
        <div class="member__logout mt-3">
            <button class="btn btn-danger" onclick="logOutMemeber()">Log out</button>
        </div>
        <div class="member__logout">
            <a class="btn btn-warning" style="width: 100%;" href="/IDcard">Download ID card</a>
        </div>
    </div>
</div>