<!-- <div class="mt-4 mb-4">
    <div class="card card_body_dark home__sidenavigator sidenavigator cardStyle"> -->
<!-- <ul class="navbar-nav">
            <li class="nav-item">
                <a class="" style="width: 100%;" href="/editorCustom">Editor</a>
            </li>
            <li class="nav-item" id="blogsPendingLink">
                <a class="" style="width: 100%;" href="/IDcard">ID card</a>
            </li>

        </ul> -->
<!-- <div class="member__logout mt-3">
            <a class="" style="width: 100%;" href="/editorCustom">Editor</a>
        </div>
        <div class="member__logout mt-3">
            <a class="" style="width: 100%;" href="/IDcard">Download ID card</a>
        </div> -->
<!-- </div>
</div> -->
<div class="card card_body_dark home__sidenavigator sidenavigator mt-4 cardStyle">
    <ul class="navbar-nav mt-2">
        <li class="nav-item">
            <a class="nav-link" data-link href="/editorCustom">Editor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-link href="/editorCustom">ID card</a>
        </li>
    </ul>
</div>