<% layout('layout') %>
    <div class="row mt-4 home">
        <div class="col-md-3 sidemenu" id="sidemenu">
            <div class="component">
                <%- include('../../particles/sidebarComplaints.ejs') -%>
            </div>
        </div>
        <div id="mySidenav" class="sidenav sidemenuMobile" id="sidemenuMobile">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="component">
                <%- include('../../particles/sidebarComplaints.ejs') -%>
            </div>
        </div>
        <div class="col-md-12 col-lg-9 col-12 home__content">
            <div class="card home__complaints card_body_dark cardStyle mb-4">
                <div class="home__complaintsHeader headerMain">
                    <p>Sub: <span id="complaintSubTop">
                            <p></p>
                </div>
                <div class="home__complaintsCard blogsCard">
                    <div class="complaintsData">
                        <div class="complaintsdata__top mb-4 d-flex">
                            <p><b><span id="complaintDay"></span> <span id="complaintYearName"></span> <span
                                        id="complaintYear"></span></b></p>
                            <p><b>Reference Number: <span>8767654343</span></b></p>
                        </div>
                        <p><b>To,</b></p>
                        <p class="complaintsData__sent" id="complaintAddressedTo"></p>
                        <p class="complaintsData__subject pb-3 pt-3"><b>Sub: <span id="complaintSub"></span></b></p>
                        <p>Dear Sir,</p>
                        <p id="complaintBody">
                        </p>
                        <p>Thank You!</p>
                        <p>Yours sincerly<br><span id="complainantName"></span></p>
                    </div>
                    <div class="complaintsFooter blogsFooterPrivilege" id="footerPrivilegeComplaint">
                        <div class="complaints__header" id="complaintsHeader">
                            <img src="https://akm-img-a-in.tosshub.com/aajtak/images/story/202001/mano_1579261142_749x421.jpeg?size=1200:675"
                                class="rounded-circle" alt="...">
                            <div class="complaints__sender">
                                <strong><span id="complainantNameOuter"></span></strong>
                                <p class="small"><span id="complainantDistrict"></span>, <span
                                        id="complainantState"></span>
                                </p>
                            </div>
                            <div id="complaintDetailsPriorityBar"></div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between" id="privilegeButtonsComplaint">
                    </div>
                </div>
            </div>
            <!-- <div class="card comments cardStyle mb-4">
                <div class="home__complaintsHeader headerMain">
                    <p>Comments</p>
                </div>
                <div class="complaints__comments">
                    <div class="comments__section">
                        <div class="complaints__header">
                            <img src="https://akm-img-a-in.tosshub.com/aajtak/images/story/202001/mano_1579261142_749x421.jpeg?size=1200:675"
                                class="rounded-circle" alt="...">
                            <div class="complaints__sender">
                                <b>Abhishek Varde</b>
                                <p class="small">Pune, <span>Maharashtra</span>
                                </p>
                            </div>
                        </div>
                        <div class="complaints__comment ml-5">
                            <div class="comment__box p-3 mt-3 mb-3">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam at totam natus.
                                    Voluptatum, porro. Incidunt aspernatur veniam tenetur? Quod, eius harum doloremque
                                    quos
                                    maxime consequatur iure, porro dignissimos debitis non provident rerum quam
                                    officiis.
                                    Dolorem asperiores magnam earum at consequuntur soluta accusamus culpa deleniti
                                    tempora
                                    voluptatem. Quas officia maiores libero.</p>
                            </div>
                            <div class="complaints__reply pl-3">
                                <div class="complaints__header">
                                    <img src="https://akm-img-a-in.tosshub.com/aajtak/images/story/202001/mano_1579261142_749x421.jpeg?size=1200:675"
                                        class="rounded-circle" alt="...">
                                    <div class="complaints__sender">
                                        <b>Abhishek Varde</b>
                                        <p class="small">Pune, <span>Maharashtra</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="comment__box p-3 ml-5 mt-3">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam at totam natus.
                                        Voluptatum, porro. Incidunt aspernatur veniam tenetur? Quod, eius harum
                                        doloremque
                                        quos
                                        maxime consequatur iure, porro dignissimos debitis non provident rerum quam
                                        officiis.
                                        Dolorem asperiores magnam earum at consequuntur soluta accusamus culpa deleniti
                                        tempora
                                        voluptatem. Quas officia maiores libero.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comments__enter mt-5">
                        <textarea placeholder="Share your Comments.." class="form-control mb-4"
                            id="exampleFormControlTextarea1" rows="5"></textarea>
                        <a class="postComment__button">Post Comment</a>
                    </div>
                </div>
            </div>-->
            <div class="card home__complaints card_body_dark mt-4 cardStyle mb-5" id="home__complaints">
                <div class="home__complaintsHeader headerMain">
                    <p>Recent Complaints</p>
                </div>
                <div class="home__complaintsCard blogsCard" id="complaintViewBlogsBlock">
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript" src="/js/complaints/complaintView.js"></script>