<% layout('layout') %>
    <div class="row mt-4 home">
        <div class="col-md-3 sidemenu" id="sidemenu">
            <div class="component">
                <%- include('../../particles/sidebarComplaints.ejs') -%>
            </div>
        </div>
        <div id="mySidenav" class="sidenav sidemenuMobile" id="sidemenuMobile">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="component">
                <%- include('../../particles/sidebarComplaints.ejs') -%>
            </div>
        </div>
        <div class="col-md-12 col-lg-9 col-12 home__content">
            <div class="card card_body_dark home__events cardStyle mb-4" id="home__events">
                <div class="home__complaintForm headerMain">
                    <p>Complaint Form</p>
                </div>
                <div class="profile__editData">
                    <div class="profile__outer mb-4">
                        <div class="profile__inner px-5 mb-5 mt-4">
                            <div class="profile__innerHeader py-3">
                                <p>Complainant's Details</p>
                            </div>
                            <div class="form-group row">
                                <label for="complainantName" disabled class="col-sm-4 col-form-label">Complainant's Full
                                    Name
                                    <span>*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control dark_box" disabled id="complainantName"
                                        placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="complainantEmail" class="col-sm-4 col-form-label">Complainant's
                                    Email
                                    <span>*</span></label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control dark_box" disabled id="complainantEmail"
                                        placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="complainantPhone" class="col-sm-4 col-form-label">Complainant's Phone no.
                                    <span>*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control dark_box" disabled id="complainantPhone"
                                        placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="complainantAddress" class="col-sm-4 col-form-label">Complainant's Address
                                    <span>*</span></label>
                                <div class="col-sm-8">
                                    <textarea rows="3" class="form-control dark_box" disabled id="complainantAddress"
                                        placeholder="Enter Your Address"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile__outer mt-2 mb-4">
                        <div class="profile__inner px-5 mb-4">
                            <div class="profile__innerHeader py-3">
                                <p>Complaint Detail</p>
                            </div>
                            <!-- <div class="form-group row">
                                <label for="complaintAddMembers" class="col-sm-4 col-form-label">Complaint Addressed
                                    To<span>*</span></label>
                                <div class="col-sm-8" id="chosenManager">
                                    <div id="output"></div>
                                    <select class="form-select form-control chosen-select dark_box" name="tags[]"
                                        multiple aria-label="Default select example" data-placeholder="Choose tags...">
                                        <option value="1">Abhishek</option>
                                        <option value="2">Utkarsh</option>
                                        <option value="3">Barkath</option>
                                        <option value="4">Yagyansh</option>
                                        <option value="5">Anupam</option>
                                        <option value="6">Nitish</option>
                                    </select>
                                </div>
                            </div> -->
                            <div class="form-group row">
                                <label for="complaintAddress" class="col-sm-4 col-form-label">Complaint Subject
                                    <span>*</span></label>
                                <div class="col-sm-8">
                                    <textarea rows="3" class="form-control dark_box" id="complaintSubject"
                                        placeholder="Enter complaint subject"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="complaintPriority" class="col-sm-4 col-form-label">Complaint
                                    priority<span>*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-select form-control dark_box" id="complaintPriority"
                                        aria-label="Default select example">
                                        <option selected>Select priority</option>
                                        <option value="Low">Low</option>
                                        <option value="Medium">Medium</option>
                                        <option value="High">High</option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="form-group row">
                                <label for="complaintAddMembers" class="col-sm-4 col-form-label">Tag other
                                    members</label>
                                <div class="col-sm-8">
                                    <input type="text" id="allAdminsList" name="vidya">
                                    <div id="output"></div>
                                    <select class="form-select form-control chosen-select allAdminsList" name="tags[]"
                                        multiple aria-label="Default select example" data-placeholder="Choose tags...">
                                        <option value="Abhishek">Abhishek</option>
                                        <option value="Utkarsh">Utkarsh</option>
                                        <option value="Barkath">Barkath</option>
                                        <option value="Yagyansh">Yagyansh</option>
                                        <option value="Anupam">Anupam</option>
                                        <option value="Nitish">Nitish</option>
                                    </select>
                                </div>
                            </div class='allAdminsList'> -->
                            <!-- <div class="form-group row">
                                <label for="blogTitle" class="col-sm-4 col-form-label">Blog Carousel
                                    Images<span>*</span></label>
                                <div class="col-sm-8">
                                    <label for="browse" style="width: 100%;">
                                        <div class="browseDesign tab_dark d-flex">
                                            <div class="d-flex browseDesign__files">
                                                <div class="d-flex browseDesign__inner">
                                                    <div class="upload__icon">
                                                        <img class="icon_img" src="/img/icons/uploadForm.png" alt="">
                                                    </div>
                                                    <p class="upload__para">
                                                        Upload upto 5 Files</p>
                                                    <input id="browse" type="file" multiple>
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                    <div id="preview"></div>
                                </div>
                            </div> -->
                            <!-- <script>
                                document.getElementById('output').innerHTML = location.search;
                                $(".chosen-select").chosen();
                            </script> -->
                        </div>
                    </div>
                    <div class="profile__outer mt-2 mb-4">
                        <div class="profile__inner px-5 mb-4">
                            <div class="profile__innerHeader py-3">
                                <p>Complaint Body</p>
                            </div>
                            <textarea class="dark_box" name="" id="complaintBody" rows="20"
                                style="width: 100%;"></textarea>
                        </div>
                    </div>
                    <div class="profile__save px-5 mb-4 mt-4">
                        <a href="javascript:void(0)" onclick="addComplaint()" id="addEditComplaint">Add complaint</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript" src="/js/complaints/complaintsForm.js"></script>