<% layout('layout') %>
    <div class="row mt-4 home">
        <div class="col-md-3 sidemenu" id="sidemenu">
            <div class="component">
                <%- include('../../particles/sidebarComplaints.ejs') -%>
            </div>
        </div>
        <div id="mySidenav" class="sidenav sidemenuMobile" id="sidemenuMobile">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="component">
                <%- include('../../particles/sidebarComplaints.ejs') -%>
            </div>
        </div>
        <div class="col-md-12 col-lg-9 col-12 home__content">
            <div class="card home__complaints cardStyle mb-5" id="home__complaints">
                <div class="home__complaintsHeader complaints__Sorting headerMain">
                    <p>High Priority Complaints</p>
                    <div class="sorting">
                        <label for="exampleFormControlSelect1">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Sort By</option>
                                <option>One week</option>
                                <option>One month</option>
                                <option>Three months</option>
                                <option>Six month</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="home__complaintsCard blogsCard" id="">
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript" src="/js/complaints/complaints.js"></script>