<% layout('layout') %>
    <div class="accessDenied d-flex flex-column justify-content-center align-items-center">
        <div class="card cardStyle card_body_dark accessDenied_card d-flex align-items-center">
            <img src="/img/accessDenied.png" alt="">
            <h3><b>You are not an admin.</b></h3>
            <a href="/" class="back_homepage mt-5">Back to homepage</a>
        </div>
    </div>
    <!-- <h1>You are not eligible to access this page.</h1> -->
    <script>
        let link = ['', '', '', ''];
        $('.burgerMobileButton').hide();
        //modifying view in mobile view
        window.onload = contentMobileView();
    </script>