<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- <script type="application/javascript" src="/js/main.js"></script> -->
    <link rel="stylesheet" href="/css/main.css">

    <title>Welcome to BJP</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row authPage">
            <div class="col-md-8 d-flex auth_splash_image justify-content-center align-items-center"
                style="height: 100vh;background: url('/img/loginBg.jpg') no-repeat;">
            </div>
            <div class="col-md-4 loginSignupSection d-flex justify-content-center align-items-center">
                <div class="signup" id="signupPage" style="display: none;">
                    <div class="px-4">
                        <img class="mb-4" src="/img/icons/bjp_logo.png" />
                    </div>
                    <div class="form-group mb-4">
                        <input type="text" class="form-control" id="signUpFirstName" placeholder="First Name"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="form-group mb-4">
                        <input type="test" class="form-control" id="signUpLastName" placeholder="Last Name"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="form-group mb-4">
                        <input type="text" class="form-control" id="signUpPhoneNumber" placeholder="Phone Number"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="form-group mb-4">
                        <input type="password" class="form-control" placeholder="Password" id="signUpPassword"
                            aria-describedby="emailHelp">
                    </div>
                    <button type="button" onclick="signUpMember()" class="btn mt-3 joinBJP mb-3">Join
                        BJP</button>
                    <div class="d-flex justify-content-center">
                        <small style="color:grey;">Already a Member? <span id="loginButton"
                                style="color: #F58220; font-weight: bold; cursor: pointer;">Log In</span></small>
                    </div>
                    <!-- <a type=" button" href="/logIn" class="btn btn-primary mt-3">Already Member</a> -->
                </div>
                <div class="signup" id="loginPage">
                    <div class="px-4">
                        <img class="mb-4" src="/img/icons/bjp_logo.png" />
                    </div>
                    <div class="form-group mb-4">
                        <input type="text" class="form-control" id="logInPhoneNumber" placeholder="Phone Number"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="form-group mb-4">
                        <input type="password" class="form-control" id="logInPassword" placeholder="Password"
                            aria-describedby="emailHelp">
                    </div>
                    <button type="button" onclick="logInMember()" class="btn mt-3 joinBJP mb-3">Let me In</button>
                    <div class="d-flex justify-content-center">
                        <small style="color:grey;">Want to join? <span id="signupButton"
                                style="color: #F58220; font-weight: bold; cursor: pointer;">Sign up</span></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript" src="/js/authentication/logIn.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>