<% layout('layout') %>
    <div class="row mt-4 home">
        <div class="col-md-3 sidemenu" id="sidemenu">
            <div class="component">
                <%- include('../../particles/sidebarEvent.ejs') -%>
            </div>
        </div>
        <div id="mySidenav" class="sidenav sidemenuMobile" id="sidemenuMobile">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="component">
                <%- include('../../particles/sidebarEvent.ejs') -%>
            </div>
        </div>
        <div class="col-md-12 col-lg-9 col-12 home__content">
            <div class="card home__blogs mb-4 card_body_dark cardStyle">
                <div class="home__blogsHeader headerMain" id="eventTitleView">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi voluptatibus excepturi consectetur,
                        id quo optio!</p>
                </div>
                <div class="events__data">
                    <div class="events__image">
                        <img id="eventImage" alt="Event Image">
                    </div>
                    <div class="events__detail mb-2">
                        <div class="details row">
                            <div class="col-md-6">
                                <strong class="row">
                                    <span class="col-md-4">
                                        <p>Venue</p>
                                    </span>
                                    <span class="col-md-8">
                                        <p id="eventVenueView"></p>
                                    </span>
                                </strong>
                                <strong class="row">
                                    <span class="col-md-4">
                                        <p>Date & Time</p>
                                    </span>
                                    <span class="col-md-8 d-flex">
                                        <p class="mr-3" id="eventDateView"></p>
                                        <p id="eventTimeView"></p>
                                    </span>
                                </strong>
                                <strong class="row">
                                    <span class="col-md-4">
                                        <p>Chief Guests</p>
                                    </span>
                                    <span class="col-md-8">
                                        <p id="eventGuestView"></p>
                                    </span>
                                </strong>
                            </div>
                            <!-- <div class="col-md-8">
                                <p id="eventAddress"></p>
                            </div> -->
                        </div>
                    </div>
                    <div class="events__organizer" id="footerPrivilegeEvent">
                        <div class="complaints__header">
                            <img src="https://akm-img-a-in.tosshub.com/aajtak/images/story/202001/mano_1579261142_749x421.jpeg?size=1200:675"
                                class="rounded-circle" alt="...">
                            <div class="complaints__sender">
                                <strong id="eventOrganizerView"></strong>
                                <p class="small"><span id="eventOrganizerDistrictView"></span>, <span
                                        id="eventOrganizerStateView"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mb-2" id="privilegeButtonsEvent">
                    </div>
                </div>
            </div>
            <div class="card home__events mb-5 card_body_dark cardStyle" id="home__events">
                <div class="home__eventsHeader headerMain">
                    <p>Upcoming Events</p>
                </div>
                <div class="glide">
                    <div class="glide__body">
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides" id="recentViewEventsBlock">
                            </ul>
                        </div>
                    </div>
                    <div class="glide__arrows" data-glide-el="controls">
                        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                            <img src="/img/icons/prev.png" alt="">
                        </button>
                        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                            <img src="/img/icons/next.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript" src="/js/events/eventView.js"></script>