<% layout('layout') %>
    <div class="row mt-4 home">
        <div class="col-md-3 sidemenu" id="sidemenu">
            <div class="component">
                <%- include('../../particles/sidebarEvent.ejs') -%>
            </div>
        </div>
        <div id="mySidenav" class="sidenav sidemenuMobile" id="sidemenuMobile">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="component">
                <%- include('../../particles/sidebarEvent.ejs') -%>
            </div>
        </div>
        <div class="col-md-12 col-lg-9 col-12 home__content">
            <div class="card card_body_dark cardStyle">
                <div class="home__blogsHeader headerMain">
                    <p>Upcoming Events</p>
                </div>
                <div class="events">
                    <div class="row" id="upcomingEventBlock">
                    </div>
                </div>
            </div>
            <div class="card mt-4 mb-5 card_body_dark cardStyle">
                <div class="home__blogsHeader headerMain">
                    <p>Past Events</p>
                </div>
                <div class="events">
                    <div class="row" id="pastEventBlock">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript" src="/js/events/events.js"></script>